@tailwind base;
@tailwind components;
@tailwind utilities;



.genHeight { overflow-y: auto; overflow-x: hidden; }
.genHeight::-webkit-scrollbar { width: 8px; height: 8px; }
.genHeight::-webkit-scrollbar-track { background-color: #111827; }
.genHeight::-webkit-scrollbar-thumb { background: #4b5563; border-radius: 0.25rem; }

.h-120 { max-height: 120px; overflow: auto; }
.h-150 { max-height: 150px; overflow: auto; }
.h-550 { max-height: 550px; overflow: auto; }